a{
	color: #514e4e;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
body.admin-menu{
	margin-top: 0 !important;
	padding-top: 20px;
}
html {
	height: 100%;
}
.tabs_wrapper{
	position: fixed;
	background: rgba(0,0,0,.6);
	bottom: 15px;
	left: 15px;
	z-index: 50;
}
.tabs_wrapper a{
	color: #fff;
	display: inline-block;
	padding: 5px 15px;
	font-size: 16px;
}
ul.primary li.active ,
ul.primary,
ul.primary li a{
	border: none !important;
	background: none !important;
}
ul.primary li:hover a,
ul.primary li.active a{
	color:  rgb(0, 236, 9);
}
.page-error-404 .page_title,
.page-error-403 .page_title	{
	text-align: center;
}
.page-error-404 .content,
.page-error-403 .content{
	text-align: center;
	font-size: 18px;
}	
body {
	font: 400 14px Arial, sans-serif;
	width: 100%;
	height: 100%;
	line-height: 1.3;
}
.wrapper {
	width: 100%;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	background: url('images/header_bg.jpg') no-repeat center 0;
}
.not-front .header {
	display: none;
}
.header_wrap {
	max-width: 1490px;
	margin: 0 auto;
	position: relative;
	height: 887px;
	padding-top: 35px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.header .slogan {
	position: absolute;
	bottom: 90px;
}
.header .slogan span {
	color: #fff;
	display: block;
	text-transform: uppercase;
}
.header .slogan span::after {
	content: '/';
	display: inline;
}
.header .slogan span:last-child::after {
	color: #fd634e;
}
.header .slogan span:last-child {
	font-size: 15px;
	padding-left: 165px;
}
.header .slogan span:first-child::after {
	color: #a2ca28;
}
.header .slogan span:first-child {
	font-size: 40px;
}
.logo_floater {
	float: left;
}
#block-system-main-menu {
	float: right;
}
#block-system-main-menu .menu li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-right: 60px;
}
#block-system-main-menu .menu li.last {
	margin-right: 0;
}
#block-system-main-menu .menu li a {
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
}
/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 100px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content_page {
	/*padding: 0 270px 0 270px;*/
}
#block-views-features-block-1 {
	background: #a2ca28;
}
#block-views-features-block-1 .content {
	max-width: 1183px;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 115px;
	color: #fff;
}
#block-views-features-block-1 .view-content {
	overflow: hidden;
}
#block-views-features-block-1 .views-row {
	float: left;
	width: 25%;
	text-align: left;
	padding-right: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#block-views-features-block-1 .views-row-last {
	padding-right: 0;
}
#block-views-features-block-1 .views-row .views-field-field-features-icon .field-content {
	display: table-cell;
	vertical-align: middle;
}
#block-views-features-block-1 .views-row .views-field-body,
#block-views-features-block-1 .views-row .views-field-title {
	padding-bottom: 20px;
}

#block-views-features-block-1 .views-row .views-field-field-features-link a,
#block-views-features-block-1 .views-row .views-field-title a{
	color: #fff;
}
#block-views-features-block-1 .views-row .views-field-title a{
	font-size: 24px;
}
#block-views-features-block-1 .views-row .views-field-field-features-icon {
	display: table;
	width: 100%;
	height: 50px;
	padding-bottom: 10px;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 100%;
	margin: -100px auto 0;
	height: 100px;
	background: #BFF08E;
	position: relative;
}
.footer h1{
text-align-last: center;
}